/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Style file
 *
 * This file is compiled into style.css
 */
/* ---------- Compass Extensions ---------- */
/* @import "normalize";
@import "compass/typography";
@import "compass/utilities";
@import "compass/css3"; */
/* @import 'toolkit';
@import 'susy';
@import 'respond-to'; */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ---------- Stylesheets ---------- */
/**
 * @file
 *   Defines the layout of the site
 */
/* $total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters */
body, html {
  height: 100%;
  min-height: 100%; }

.site {
  margin: 0;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding:  7em 0 0 0;
  margin: 0;
  height: 100%; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center; }
    .site sidebar:last-child {
      margin-right: 0; }
  .site .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    .site .content:last-child {
      margin-right: 0; }

/**
 * Typography
 */
@font-face {
  font-family: EntypoRegular;
  font-weight: normal;
  font-style: normal;
  src: url('/css/fonts/entypo.eot');
  src: url('/css/fonts/entypo.eot?#iefix') format('embedded-opentype'), url('/css/fonts/entypo.woff') format('woff'), url('/css/fonts/entypo.ttf') format('truetype'), url('/css/fonts/entypo.svg#EntypoRegular') format('svg'); }

html {
  font-size: 100;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

html, button, input, select, textarea {
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

/* Line-heights */
body {
  font-size: 1em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em;
  margin: 0;
  padding: 0; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

code {
  font-size: 0.875em; }

/* Fonts */
h1 {
  font-family: Raleway, "Helvetica Neue", Helvetica, sans-serif; }

/* colors */
a {
  /* @include link-colors(#e59400, #e59400, #b27300, #7f5200, #7f5200); */
  /* @include link-colors(#b27300, #e59400, #e59400, #7f5200, #7f5200); */
  text-decoration: none; }

/**
 * @file
 *   Colors, margins, paddings,...
 */
body {
  /* background: #fff; */
  background: #ecebe6; }

sidebar a {
  /* @include link-colors(#111c29, #666, #111c29, #111c29); */
  text-decoration: none; }
sidebar .avatar {
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in; }
sidebar .avatar:hover {
  opacity: 0.95; }
sidebar .site-title {
  /* @include rhythm(0.125, 0, 0, 0.125); */
  /* font-size: rhythm(1.5); */
  font-weight: 200; }
sidebar ul.online-presence {
  /* @include horizontal-list-container();
    @include rhythm(0, 0, 0, 0.5);
    @include clearfix(); */
  margin-left: auto;
  marign-right: auto;
  text-align: center; }
  sidebar ul.online-presence > li {
    /* @include horizontal-list-item(0.25em); */
    float: none; }
sidebar .site-slogan {
  /* @include rhythm(0, 0, 0, 0.5); */
  color: #777777;
  /* font-size: rhythm(0.75); */
  font-weight: 300; }
  sidebar .site-slogan span {
    display: block;
    /* font-size: rhythm(0.625); */ }


article {
  border-bottom: 1px dotted #aaaaaa; }
  article:after {
    font-family: 'EntypoRegular';
    background: #ecebe6;
    color: #aaaaaa;
    content: '\2712';
    display: block;
    margin: 0 auto -0.4em;
    text-align: center;
    /* font-size: rhythm(1.25);
    width: rhythm(1.25); */ }
  article .entry-meta {
    color: #999999;
    font-weight: 200; }
  article h1 {
    font-weight: 200;
    margin: 0; }
  article h2, article h3 {
    font-weight: 100; }

.highlight pre {
  padding: 1em;
  /* @include border-radius(.5em, .5em); */ }
