/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/**
 * Style file
 *
 * This file is compiled into style.css
 */
/* ---------- Bourbon Extensions ---------- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* ---------- Base ---------- */
/**
 * Global variables
 */
/* $total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #ecebe6;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Typography
 */
@font-face {
  font-family: EntypoRegular;
  font-weight: normal;
  font-style: normal;
  src: url('/css/fonts/entypo.eot');
  src: url('/css/fonts/entypo.eot?#iefix') format('embedded-opentype'), url('/css/fonts/entypo.woff') format('woff'), url('/css/fonts/entypo.ttf') format('truetype'), url('/css/fonts/entypo.svg#EntypoRegular') format('svg'); }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

html, button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* Line-heights */
body {
  font-size: 16px;
  line-height: 1.5em; }

h1 {
  margin: 0.67em 0;
  font-size: 2em; }

h2 {
  margin: 0.83em 0;
  font-size: 1.5em; }

h3 {
  margin: 1em 0;
  font-size: 1.17em; }

h4 {
  margin: 1.33em 0;
  font-size: 1em; }

h5 {
  margin: 1.67em 0;
  font-size: 0.83em; }

h6 {
  margin: 2.33em 0;
  font-size: 0.75em; }

/* Fonts */
h1 {
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* colors */
a {
  /* @include link-colors(#e59400, #e59400, #b27300, #7f5200, #7f5200); */
  /* @include link-colors(#b27300, #e59400, #e59400, #7f5200, #7f5200); */
  text-decoration: none; }

/* ---------- Styles ---------- */
/**
 * @file
 *   Defines the layout of the site
 */
.site {
  margin: 0;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  padding:  7em 0 0 0;
  margin: 0; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site sidebar {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    text-align: center; }
    .site sidebar:last-child {
      margin-right: 0; }
  .site .content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .site .content:last-child {
      margin-right: 0; }

/**
 * @file
 *   Colors, margins, paddings,...
 */
sidebar a {
  /* @include link-colors(#111c29, #666, #111c29, #111c29); */
  text-decoration: none; }
sidebar .avatar {
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in; }
sidebar .avatar:hover {
  opacity: 0.95; }
sidebar .site-title {
  /* @include rhythm(0.125, 0, 0, 0.125); */
  /* font-size: rhythm(1.5); */
  font-weight: 200; }
sidebar ul.online-presence {
  /* @include horizontal-list-container();
    @include rhythm(0, 0, 0, 0.5);
    @include clearfix(); */
  margin-left: auto;
  marign-right: auto;
  text-align: center; }
  sidebar ul.online-presence > li {
    /* @include horizontal-list-item(0.25em); */
    float: none; }
sidebar .site-slogan {
  /* @include rhythm(0, 0, 0, 0.5); */
  color: #777777;
  /* font-size: rhythm(0.75); */
  font-weight: 300; }
  sidebar .site-slogan span {
    display: block;
    /* font-size: rhythm(0.625); */ }


article {
  border-bottom: 1px dotted #aaaaaa; }
  article:after {
    font-family: 'EntypoRegular';
    background: #ecebe6;
    color: #aaaaaa;
    content: '\2712';
    display: block;
    margin: 0 auto -0.4em;
    text-align: center;
    /* font-size: rhythm(1.25);
    width: rhythm(1.25); */ }
  article .entry-meta {
    color: #999999;
    font-weight: 200; }
  article h1 {
    font-weight: 200;
    margin: 0; }
  article h2, article h3 {
    font-weight: 100; }

.highlight pre {
  padding: 1em;
  /* @include border-radius(.5em, .5em); */ }
