---
layout: default
---

<div class="posts-overview">

  <!-- This loops through the paginated posts -->

  <ul class="list-unstyled">
  {% for post in paginator.posts %}

    <li class="list-item entry d-md-flex justify-content-md-between mb-2">
        <time class="published order-md-2" datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
        <span class="title d-block order-md-1">
            <a href="{{ post.url }}" title="{{ post.title }}" class="u-url">{{ post.title }}</a>
        </span>
    </li>
  {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% endif %}
  </div>
  {% endif %}

</div>