---
layout: default
title: Regular dispatches covering Tech and Web development brought by Matthias Vandermaesen
---

<div class="home">

  <div class="posts-overview">

    <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
      <article class="post format-excerpt">

        <header>
          <div class="entry-meta">{{ post.date | date_to_long_string }}</div>
          <h1><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>

        </header>

        <div class="entry-content">
          {{ post.excerpt }}
        </div>

      </article>
    {% endfor %}

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
      {% endif %}
    </div>
    {% endif %}


  </div>

</div>
