<script type="application/ld+json" id="me">
    {
        "@context": {
            "foaf":"http://xmlns.com/foaf/0.1/",
            "xsd": "http://www.w3.org/1999/02/22-rdf-syntax-ns#"
        },
        "@id": "https://colada.be/#me",
        "@type": "foaf:Person",
        "foaf:name": "Matthias Vandermaesen",
        "foaf:nick": "netsensei",
        "foaf:img": {
            "@id": "https://www.colada.be/assets/picture.ttl#matthias"
        },
        "foaf:weblog": [
            "https://www.netsensei.be",
            "https://www.colada.be"
        ],
        "foaf:age": {
            "@value": "42",
            "@type": "xsd:decimal"
        },
        "schema:birthPlace": {
            "@id": "https://www.wikidata.org/wiki/Q1296"
        },
        "schema:sameAs": [
            "https://viaf.org/viaf/279844188",
            "https://orcid.org/0000-0003-4810-3554"
        ],
        "schema:worksFor": {
            "@type": "schema:Organization",
            "@id": "https://www.wikidata.org/wiki/Q1137665",
            "schema:legalName": "Universiteit Gent",
            "schema:url": "https://ugent.be",
            "schema:department": {
                "@type": "schema:department",
                "@id": "https://www.wikidata.org/wiki/Q611001",
                "schema:legalName": "Universiteitsbibliotheek Gent",
                "schema:url": "https://lib.ugent.be"
            }
        },
        "foaf:knows": [
            {
                "@id": "https://pietercolpaert.be/#me"
            },
            {
                "@id": "https://stijnoosterlinck.github.io/#me"
            },
            {
                "@id": "https://razoreater.github.io/iam/#me"
            },
            {
                "@id":"https://jensdesutter.github.io/#me"
            },
            {
                "@id":"https://nicovervaeck.github.io/#me"
            },
            {
                "@id": "https://users.ugent.be/~alatinis/#me"
            },
            {
                "@id": "https://nics.github.io/#me"
            },
            {
                "@id": "https://users.ugent.be/~odlmarce/rdf#me"
            },
            {
                "@id": "https://wodsaegh.github.io/"
            },
            {
                "@id": "https://liadsmed.github.io/#me"
            },
            {
                "@id": "https://en.osm.town/@pietervdvn"
            },
            {
                "@id": "https://brakke.net/#nil"
            },
            {
                "@id": "https://lukv.github.io/#me"
            },
            {
                "@id": "https://kurijn.github.io/#me"
            }
        ]
    }
</script>