/**
 * @file
 *   Defines the layout of the site
 */

.site {
  margin: 0;
  @include outer-container();
  @include pad(7em 0 0 0);
  margin: 0;

  sidebar {
    @include span-columns(4);
    text-align: center;
  }

  .content {
    @include span-columns(8);
  }
}
