/**
 * @file
 *   Colors, margins, paddings,...
 */

sidebar {
  a {
    @include link-colors(#111c29, #666, #111c29, #111c29, #111c29);
    text-decoration: none;
  }
}

.avatar {
  border-radius: 50%;
  opacity: .8;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  -o-transition: all 500ms ease-in;
}

.avatar:hover {
  opacity: .95;
}

ul.online-presence {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    padding: 0 0.3em;
  }

  li.fa-twitter:before {
    @extend %fa-twitter;
  }

  li.fa-github:before {
    @extend %fa-github;
  }
}

.site-title {
  font-size: 3em;
  font-weight: 200;
}

.site-slogan {
  color: #777;
  font-size: 1em;
  font-weight: 300;

  span {
    display: block;
  }
}

div.posts-overview > article:nth-child(1) {
  margin-top: 0;
}

article {

  &.format-excerpt {
    margin: 1em 0;
  }

  border-bottom: 1px dotted #aaa;

  h1 {
    font-weight: 200;
    a {
      @include link-colors(#666, #111c29, #666, #666, #666);
    }
  }

  h2,
  h3 {
    font-weight: 100;
  }
}

article:after {
  @extend %post-ordinance;
}

.entry-meta {
  color: #999;
  font-weight: 200;
}

.highlight {
  pre {
    padding: 1em;
    /* @include border-radius(.5em, .5em); */
  }
}
