/**
 * @file
 *   Colors, margins, paddings,...
 */

sidebar {

  a {
    /* @include link-colors(#111c29, #666, #111c29, #111c29); */
    text-decoration: none;
  }

  .avatar {
    border-radius: 50%;
    opacity: .8;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
  }

  .avatar:hover {
    opacity: .95;
  }

  .site-title {
    /* @include rhythm(0.125, 0, 0, 0.125); */
    /* font-size: rhythm(1.5); */
    font-weight: 200;
  }

  ul.online-presence {
     @extend %horizontal-unstyled-list;
  }

  .site-slogan {
    /* @include rhythm(0, 0, 0, 0.5); */
    color: #777;
    /* font-size: rhythm(0.75); */
    font-weight: 300;

    span {
      display: block;
      /* font-size: rhythm(0.625); */
    }
  }
}

div.posts-overview > article:nth-child(1) {
  /* @include rhythm(0, 0, 0, 1.5); */
}

article {

  &.format-excerpt {
    /* @include rhythm(1, 0, 0, 1.5); */
  }

  border-bottom: 1px dotted #aaa;

  .entry-meta {
    color: #999;
    font-weight: 200;
  }

  h1 {
    font-weight: 200;
    margin: 0;
    a {
      /* @include link-colors(#666, #111c29, #666, #666); */
    }
  }

  h2,
  h3 {
    font-weight: 100;
  }
}

article:after {
 @extend %post-ordinance;
}

.highlight {
  pre {
    padding: 1em;
    /* @include border-radius(.5em, .5em); */
  }
}
