/**
 * Typography
 */

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IBMPlexMono-Regular';
  src: url('../fonts/IBMPlexMono-Regular.ttf') format('truetype');
}

$font-family-sans-serif: "RobotoSlab-Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:  "IBMPlexMono-Regular", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;;

$font-size-root: 1.2rem;

$headings-font-family: $font-family-monospace;

// // Addresses font-family inconsistency between 'textarea' and other form elements.
// html,
// button,
// input,
// select,
// textarea {
//   font-family:
// }

// /* Line-heights */

// body {
//   font-size: $base-font-size;
//   line-height: $base-line-height;
// }

// h1 {
//   margin: $h1_margin;
//   font-size: $h1_font_size;
// }

// h2 {
//   margin: $h2_margin;
//   font-size: $h2_font_size;
// }

// h3 {
//   margin: $h3_margin;
//   font-size: $h3_font_size;
// }

// h4 {
//   margin: $h4_margin;
//   font-size: $h4_font_size;
// }

// h5 {
//   margin: $h5_margin;
//   font-size: $h5_font_size;
// }

// h6 {
//   margin: $h6_margin;
//   font-size: $h6_font_size;
// }

// /* Fonts */

// h1 {
//   font-family: Raleway, Arial, Helvetica, sans-serif;
// }

// /* colors */

// a {
//   /* @include link-colors(#e59400, #e59400, #b27300, #7f5200, #7f5200); */
//   // @include link-colors(#b27300, #e59400, #e59400, #7f5200, #7f5200);
//   text-decoration: none;
// }

